In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#Foodborne Disease Outbreaks, 1998-2015
#https://www.kaggle.com/cdc/foodborne-diseases
#Using the dataset from January 1998 to December 2015 to analyze what contaminant(Species) has been the major factor responsible
#for most illnesses.

In [4]:
data = pd.read_csv("/Users/weldonliu/Downloads/outbreaks.csv")

In [5]:
data

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
0,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,20,0.0,0.0
1,1998,January,California,NaN,Custard,NaN,NaN,NaN,NaN,112,0.0,0.0
2,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,35,0.0,0.0
3,1998,January,California,Restaurant,"Fish, Ahi",NaN,Scombroid toxin,NaN,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",NaN,Salmonella enterica,Enteritidis,Confirmed,26,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19114,2015,December,Wisconsin,Restaurant,NaN,NaN,Norovirus genogroup II,GII_14,Confirmed,4,0.0,0.0
19115,2015,December,Wisconsin,Private Home/Residence,Salsa,NaN,Norovirus genogroup II,GII_2,Confirmed,16,0.0,0.0
19116,2015,December,Wisconsin,Nursing Home/Assisted Living Facility,NaN,NaN,Norovirus genogroup II,GII_17 Kawasaki (2014),Confirmed,43,3.0,0.0
19117,2015,December,Wisconsin,Fast Food Restaurant,NaN,NaN,Norovirus genogroup II,GII_2,Confirmed,5,0.0,0.0
19118,2015,December,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,3,0.0,0.0

In [ ]:
#The original data set is consisted of 19119 rows and 12 columns(variables).

In [ ]:
#Data fields description(columns description)
#Year: Year when the disease outbreak occurred
#Month: Month when the disease outbreak occurred
#State: U.S States where the disease outbreak occurred
#Location: Location where the food was prepared 
#Food: The food which was contaminated
#Ingredient: Contaminated Ingredient
#Species: Pathogen/Toxic Substance causing the incontamination
#Serotype/Genotype: The type of Pathogen
#Status: Status whether the pathogen was cofirmed or not
#Illnesses: Number of illnesses 
#Hospitalizations: Number of Hospitalizations
#Fatalities: Number of fatalities

In [8]:
#Data cleasning& organizing

In [9]:
#1) Any missing value?

In [10]:
data.isnull().sum()

Year                     0
Month                    0
State                    0
Location              2166
Food                  8963
Ingredient           17243
Species               6619
Serotype/Genotype    15212
Status                6619
Illnesses                0
Hospitalizations      3625
Fatalities            3601
dtype: int64

In [11]:
missing_value = data.isnull().sum()*100/len(data)
missing_value

Year                  0.000000
Month                 0.000000
State                 0.000000
Location             11.329044
Food                 46.880067
Ingredient           90.187771
Species              34.620012
Serotype/Genotype    79.564831
Status               34.620012
Illnesses             0.000000
Hospitalizations     18.960197
Fatalities           18.834667
dtype: float64

In [12]:
#2) Filter the dataset, drop the columns that are not related to the topic
##Since the ratio of null fields in the column'Serotype/Genotype' and 'Ingredient' to the total number of rows exceeds 60%,
#which are proved not useful for the data anlysis. Therefore I choose to drop those two columns from my table.
#Then, drop all null values.

In [17]:
df = data.copy()

cols = [5,7]

df.drop(df.columns[cols], axis=1, inplace= True)
df.dropna(inplace=True)

In [18]:
df.isnull().sum()

Year                0
Month               0
State               0
Location            0
Food                0
Species             0
Status              0
Illnesses           0
Hospitalizations    0
Fatalities          0
dtype: int64

In [ ]:
#3) Are any of the variables exactly derivable from other variables?

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5202 entries, 3 to 19115
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              5202 non-null   int64
 1   Month             5202 non-null   object
 2   State             5202 non-null   object
 3   Location          5202 non-null   object
 4   Food              5202 non-null   object
 5   Species           5202 non-null   object
 6   Status            5202 non-null   object
 7   Illnesses         5202 non-null   int64
 8   Hospitalizations  5202 non-null   float64
 9   Fatalities        5202 non-null   float64
dtypes: float64(2), int64(2), object(6)
memory usage: 447.0+ KB

In [24]:
df.describe()

              Year    Illnesses  Hospitalizations   Fatalities
count  5202.000000  5202.000000       5202.000000  5202.000000
mean   2006.064014    23.932910          1.381392     0.030373
std       5.045871    53.200339          5.320407     0.510833
min    1998.000000     2.000000          0.000000     0.000000
25%    2002.000000     4.000000          0.000000     0.000000
50%    2006.000000    10.000000          0.000000     0.000000
75%    2010.000000    24.000000          1.000000     0.000000
max    2015.000000  1644.000000        143.000000    33.000000

In [26]:
df.head()

,Year,Month,State,Location,Food,Species,Status,Illnesses,Hospitalizations,Fatalities
3,1998,January,California,Restaurant,"Fish, Ahi",Scombroid toxin,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",Salmonella enterica,Confirmed,26,3.0,0.0
7,1998,January,California,Restaurant,"Stuffing, Unspecified; Sandwich, Turkey",Salmonella enterica,Confirmed,4,3.0,0.0
15,1998,January,Florida,Restaurant,"Ethnic Style, Unspecified",Clostridium perfringens,Suspected,3,0.0,0.0
17,1998,January,Florida,Restaurant,"Ground Beef, Cheeseburger",Staphylococcus aureus,Suspected,2,0.0,0.0

In [ ]:
#There are no redundant in the original data set. 
#After cleaning, the current df is in a standard format.

In [ ]:
#How many rows/data points are there?

In [27]:
df

,Year,Month,State,Location,Food,Species,Status,Illnesses,Hospitalizations,Fatalities
3,1998,January,California,Restaurant,"Fish, Ahi",Scombroid toxin,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",Salmonella enterica,Confirmed,26,3.0,0.0
7,1998,January,California,Restaurant,"Stuffing, Unspecified; Sandwich, Turkey",Salmonella enterica,Confirmed,4,3.0,0.0
15,1998,January,Florida,Restaurant,"Ethnic Style, Unspecified",Clostridium perfringens,Suspected,3,0.0,0.0
17,1998,January,Florida,Restaurant,"Ground Beef, Cheeseburger",Staphylococcus aureus,Suspected,2,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
19102,2015,December,South Carolina,Restaurant,Zucchini,Bacillus cereus,Suspected,8,0.0,0.0
19105,2015,December,Utah,Private Home/Residence,Meal Replacement Powder,Salmonella enterica,Confirmed,3,1.0,0.0
19108,2015,December,Washington,Restaurant,Foie Gras,Campylobacter unknown,Suspected,2,0.0,0.0
19111,2015,December,Wisconsin,Catering Service,"Cookies, Chocolate Chip",Norovirus genogroup II,Confirmed,10,0.0,0.0
19115,2015,December,Wisconsin,Private Home/Residence,Salsa,Norovirus genogroup II,Confirmed,16,0.0,0.0

In [ ]:
#After cleaning, there are 5202 rows and 10 variables in the df data set.

In [ ]:
#Are the key variables explicitly specified or are they things you would have to derive?
#Yes. The key variables(Illness,hospitalizations, fatalities,etc.)are clear specified, but the researcher has to do statistically 
#analysis.

In [ ]:
#Are there any variables that could in principle be statistically predicted from other variables? 
#Based on the variables showing on the data set, no.

In [ ]:
#Describe the terms of use and identify any key restrictions (e.g. do you have to officially apply to 
#get access to the data? Are there certain types of analyses you can't do?)
##This is a public dataset owned by CDC. The researcher can access to the data set without asking permission. 
#For now, there are no certain types of analyses the researcher cannot do.